<launch>
    <!-- 启动激光雷达以及rviz可视化界面 -->
    <include file="$(find ydlidar)/launch/ydlidar.launch" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ydlidar)/launch/lidar.rviz" />

    <!-- 启动小车控制节点 -->
    <node pkg="ucar_controller" name="base_driver" type="base_driver" output="screen" >
    <rosparam command="load" file="$(find ucar_controller)/config/driver_params_mini.yaml" />
    <!-- <rosparam command="load" file="$(find ucar_controller)/config/driver_params_xiao.yaml" /> -->
    </node>
    <!-- <node pkg="joy" name="joy_node" type="joy_node"/> -->
    
    <!-- 启动 gmapping 建图节点 -->
    <node pkg="slam_gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    </node>
</launch>