<launch>
    <include file="$(find nav)/launch/teb_demo.launch"/>

      <!-- Load the URDF into the ROS Parameter Server -->
    <arg name="model" default="$(find gazebo_race)/urdf/waking_robot.xacro" />
 
    <param name="robot_description" command="$(find xacro)/xacro  --inorder $(arg model)" />
 
    <!-- Run a python script to send a service call the gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model robot -param robot_description -z 0.05"/> 

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <include file="$(find radiation_pub2)/launch/radiation_pub2.launch"/>
    <include file="$(find ucar_controller)/launch/base_driver.launch"/>
    <include file="$(find ydlidar)/launch/ydlidar.launch"/>

</launch>